@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
    <h1>Mi Mascota Favorita</h1>
    <img src="~/images/parque.jpg" alt="Foto de mi lugar favorita" />
    <p>Nuestro lugar favorito! </p></article>
</div>
