@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <article>
    <h1>Mi Mascota Favorita</h1>
    <img src="~/images/dino.png" alt="Foto de mi mascota favorita" />
    <p>Mi mascota se llama dino, tiene 15 años. Siempre será mi mejor amigo! </p></article>
</div>
